body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.screen {
  margin-top: 100px;
}

.hidden {
  display: none;
}

button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}





.hold-area {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-ring {
  transform: rotate(-90deg);
  display: block;
}

.progress-ring-bg {
  fill: none;
  stroke: #333;
  stroke-width: 6;
}

.progress-ring-fill {
  fill: none;
  stroke: limegreen;
  stroke-width: 6;
  stroke-linecap: round;

  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.timer-bar-container {
  width: 200px;
  height: 10px;
  background: #333;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

.timer-bar {
  height: 100%;
  width: 0%;
  background: limegreen;
  transition: width 0.2s linear;
}

.timer-controls {
  margin-top: 20px;
}

#pause-message {
  color: #aaa;
  margin-top: 10px;
  font-size: 14px;
}